<!-- Home page view -->

<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <%- include('./layout/head') %>
    </head>
    <body>
        <div class="content-wrapper">

            <header>
                <%- include('./layout/header') %>
            </header>

            

            <div class="article-view-wrapper">

                <% article.forEach(article => { %>

                <% const regex = /(C?c?ovid( )?(-)?(19)?|COVID( )?(-)?(19)?|C?c?orona( )?(V?v?irus)?|P?p?andemic|CDC|F?f?ace( )?(M?m?ask)?)/g; %>

                    <% if (regex.test(article.title) == true && regex.test(article.description) == true) { %>
                        <img src="<%= cat.url %>"
                    <% } %>

                    <% if (regex.test(article.title) == false && regex.test(article.description) == false) { %>

                    <div class="article-listing-wrapper">
                        <img class="article-image" src="<%= article.image_url %>" />
                        <div class="article-words-wrapper">
                            <a href="<%= article.url %>"><h2> <%= article.title %> </h2></a>
                            <div class="article-author-source-wrapper">
                                <h3><%= article.author %></h3>
                                <h4><%= article.source %></h4>
                            </div>
                                <p><%= article.description %></p>
                                <button class="button">Save for later</button>
                        </div>
                    </div>

                    <% }; %>

                    

                <% }) %>

            </div>

        </div>
        <script src="" async defer></script>
    </body>
</html>