<!-- Home page view -->

<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->

<head>
    <%- include('./layout/head') %>
</head>

<body>
    <div class="content-wrapper">

        <header>
            <%- include('./layout/header') %>
        </header>



        <div class="article-view-wrapper">

            <% articles.forEach(article => { %>

            <% if (article.isCovid) { %>
            <img src="<%= article.catGif.url %>" />
            <% } else { %>
            <div class="article-listing-wrapper">
                <img class="article-image" src="<%= article.image_url %>" />
                <div class="article-words-wrapper">
                    <a href="<%= article.url %>">
                        <h2> <%= article.title %> </h2>
                    </a>
                    <div class="article-author-source-wrapper">
                        <h3><%= article.author %></h3>
                        <h4><%= article.source %></h4>
                    </div>
                    <p><%= article.description %></p>
                    <form action="/save" method="POST">
                        <input type="hidden" name="image_url" value='<%= article.image_url %>' />
                        <input type="hidden" name="url" value='<%= article.url %>' />
                        <input type="hidden" name="title" value='<%= article.title %>' />
                        <input type="hidden" name="author" value='<%= article.author %>' />
                        <input type="hidden" name="source" value='<%= article.source %>' />
                        <input type="hidden" name="description" value='<%= article.description %>' />
                        <button class="button">Save for later</button>
                    </form>
                </div>
            </div>

            <% }; %>

            <% }) %>

        </div>

    </div>
    <script src="" async defer></script>
</body>

</html>