<!-- Home page view -->
<!DOCTYPE html>

<head>
    <%- include('./layout/head') %>
</head>

<body>
    <div class="content-wrapper">

        <header>
            <%- include('./layout/header') %>
        </header>

        <main class="article-view-wrapper">

            <% articles.forEach(article => { %>

            <% if (article.isCovid) { %>
            <img class="cat-gif" src="<%= article.catGif.url %>" />
            <% } else { %>
            <article class="article-listing-wrapper">
                <div class="img-wrapper">
                    <img class="article-image" src="<%= article.image_url %>" />
                </div>
                <div class="article-words-wrapper">
                    <a href="<%= article.url %>">
                        <h2> <%= article.title %> </h2>
                    </a>
                    <div class="article-author-source-wrapper">
                        <h3><%= article.author %></h3>
                        <h4><%= article.source %></h4>
                    </div>
                    <p><%= article.description %></p>
                    <button class="button">Save for later</button>
                </div>
            </article>

            <% }; %>

            <% }) %>

        </main>
    </div>
</body>

</html>