<!-- Home page view -->
<!DOCTYPE html>

<head>
    <%- include('./layout/head') %>
</head>

<body>
    <div class="content-wrapper">

        <header>
            <%- include('./layout/header') %>
        </header>

        <main class="article-view-wrapper">

            <% articles.forEach(article => { %>

            <% if (article.isCovid) { %>
            <img class="cat-gif" src="<%= article.catGif.url %>" />
            <% } else { %>
            <article class="article-listing-wrapper">
                <div class="img-wrapper">
                    <img class="article-image" src="<%= article.image_url %>" />
                </div>
                <div class="article-words-wrapper">
                    <a href="<%= article.url %>" target="_blank">
                        <h2> <%= article.title %> </h2>
                    </a>
                    <div class="article-author-source-wrapper">
                        <h3><%= article.author %></h3>
                        <h4><%= article.source %></h4>
                    </div>
                    <p><%= article.description %></p>
                    <% if (article.isSaved) { %> 
                        <form action="/articles/<%= article.id %>?_method=DELETE" method="POST">
                            <input type="hidden" name="redirectUrl" value="/">
                            <button class="button">Send to Litterbox</button>
                        </form>
                    <% } else { %> 
                    <form action="/save" method="POST">
                        <input type="hidden" name="image_url" value='<%= article.image_url %>' />
                        <input type="hidden" name="url" value='<%= article.url %>' />
                        <input type="hidden" name="title" value='<%= article.title %>' />
                        <input type="hidden" name="author" value='<%= article.author %>' />
                        <input type="hidden" name="source" value='<%= article.source %>' />
                        <input type="hidden" name="description" value='<%= article.description %>' />
                        <button class="button">Save for later</button>
                    </form>
                    <% } %>
                </div>
            </article>

            <% }; %>

            <% }) %>

        </main>
       
    </div>
    <footer class="footer">
        <%- include('./layout/footer') %>
    </footer>
    
</body>

</html>